
<!-- footer -->
<div class="container-fluid">
    <div class="row">
        <div class="footer">
        <div class="col-lg-3 col-sm-12">
             <img  class="flogo img-fluid" src="/assets/images/shapes infinity logo b.png" alt="">
            </div>
            <div class="col-lg-3 col-sm-12 quick">
                <h6 class="fh6">Quick Links</h6>
                <ul class="list-group">
                    <li class="list-group-item"><a href="">Home</a></li>
                    <li class="list-group-item"><a href="">About</a></li>
                    <li class="list-group-item"><a href="">Contact</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-sm-12 quick">
                <h6 class="fh6">Contact Info</h6>
                <ul class="list-group">
                    <li class="list-group-item"> <a class="con_a"href="mailto:sales@shapesinfinity.com">sales@shapesinfinity.com</a><br>
                    <li class="list-group-item"> <a class="con_a"href="tel:+971 561608606">Dubai : +971 561608606</a></li>
                    <li class="list-group-item"> <a class="con_a"href="tel:+971 561608606">India : +91 8220880876</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-sm-12 quick">
                <h6 class="fh6">Follow Us</h6>
                <ul class="list-group social">
                    <li class="list-group-item"><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li class="list-group-item"><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li class="list-group-item"><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                  </ul>
               </div>
        </div>
    </div>
        </div>
   