<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="d-flex justify-content-center">
          <img class="flogo img-fluid" src="/assets/images/shapes infinity logo b.png" alt="Shapes Infinity Logo">
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6 quick">
        <h6 class="fh6">Quick Links</h6>
        <ul class="list-group">
          <li class="list-group-item"><a routerLink="/">Home</a></li>
          <li class="list-group-item"><a routerLink="/aboutus">About</a></li>
          <li class="list-group-item dropdown">
            <a class="dropdown-toggle list-group-item" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="servicesDropdown">
              <a class="dropdown-item" routerLink="/web-maintenance">Web Maintenance</a>
              <a class="dropdown-item" routerLink="/web-application">Web Application</a>
              <a class="dropdown-item" routerLink="/logo-design">Logo Design</a>
              <a class="dropdown-item" routerLink="/seo-content">SEO Content</a>
              <a class="dropdown-item" routerLink="/ui-ux">UI/UX</a>
              <a class="dropdown-item" routerLink="/web-development">Web Development</a>
            </div>
          </li>
          <li class="list-group-item"><a routerLink="/contactus">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 quick">
        <h6 class="fh6">Contact Info</h6>
        <ul class="list-group">
          <li class="list-group-item"><a class="con_a" href="mailto:sales@shapesinfinity.com">sales@shapesinfinity.com</a><br></li>
          <li class="list-group-item"><a class="con_a" href="tel:+971561608606">Dubai : +971 561608606</a></li>
          <li class="list-group-item"><a class="con_a" href="tel:+918220880876">India : +91 8220880876</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 quick">
        <h6 class="fh6">Follow Us</h6>
        <ul class="list-group social">
          <li class="list-group-item"><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
