
.footer {
    width: 100%;
    background-color: #333; /* Dark background color */
  }
  
  /* Common styles for all viewports */
  .quick {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fh6 {
    text-align: center;
    margin: 10px;
    font-weight: bold;
  }
  
  .list-group-item {
    margin-top: 10px;
    text-decoration: none;
    background-color: #333; /* Dark background color */
    border: none;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .list-group-item:hover {
    background-color: #555; /* Darker background on hover */
  }
  
  .fa {
    font-size: 1rem;
    color: white; /* White social icons */
    margin-top: -2px;
  }
  
  a {
    text-decoration: none;
    color: white; /* White text color */
    border: none;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for viewport sizes smaller than 768px (e.g., mobile phones) */
  @media (max-width: 767px) {
    .footer {
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;
    }
  
    .flogo {
      width: 150px; /* Adjust image width for smaller screens */
      height: auto; /* Allow height to adjust proportionally */
    }
  }
  
  /* Styles for viewport sizes between 768px and 1024px (e.g., tablets) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer {
      height: auto;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: 30px;
      align-items: center;
    }
  
    .flogo {
      width: 180px; /* Adjust image width for tablets */
      height: auto; /* Allow height to adjust proportionally */
    }
  
    /* Adjust other styles as needed for tablet view */
  }
  
  /* Styles for viewport sizes larger than 1024px (e.g., laptops and desktops) */
  @media (min-width: 1025px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
    }
  
    .flogo {
      width: 200px; /* Adjust image width for larger screens */
      height: auto; /* Allow height to adjust proportionally */
      margin-top: 80px;
    }
  
    /* Adjust other styles as needed for larger screens */
  }
  
  /* Dropdown menu styles */
  .dropdown-menu {
    background-color: #333; /* Dark background color for dropdown */
    border: none;
    border-radius: 5px;
  }
  
  .dropdown-item {
    color: white; /* White text color */
  }
  
  .dropdown-item:hover {
    background-color: #555; /* Darker background on hover */
  }
  

  .fh6{
    color: red;
    font-size: 1rem;
  }