<div class="container-fluid s5container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
  <h2 class="s5h2">Let's Create Experiences..</h2>
      </div>
    </div>
    <div class="row">
  <div class="col-lg-6">
  <form action="">
    <input type="text" placeholder="Name">
    <input type="email" placeholder="Email">
    <input type="number" placeholder="Number">
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Servies List 
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Website Designing & Development</a>
        <a class="dropdown-item" href="#">Website Application</a>
        <a class="dropdown-item" href="#">Website Maintenance</a>
        <a class="dropdown-item" href="#">Content Writing</a>
        <a class="dropdown-item" href="#">UX/UI Designing</a>
        <a class="dropdown-item" href="#">Logo Design</a>
      </div>
    </div>
    <button class="btn btn-primary btn-lg s5btn" type="submit">Submit</button>
  </form>
  </div>
    </div>
  </div>
