<div class="section1">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" href="/web-maintenance">Web Maintenance</a>
                <a class="dropdown-item" href="/web-application">Web Application</a>
                <a class="dropdown-item" href="/logo-design">Logo Design</a>
                <a class="dropdown-item" href="/seo-content">SEO Content</a>
                <a class="dropdown-item" href="/ui-ux">UI/UX</a>
                <a class="dropdown-item" href="/web-development">Web Development</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <h2 class="s1h2 col-lg-12 col-md-8 col-sm-12">Logo Design That Stands</h2>
           
        </div>
      </div>
    </div>
    <div class="section2">
        <div class="container-fluid">
            <div class="row s1row">
                <div class="col-lg-6 col-md-6 col-sm-12 s1col">
                    <h1 class="r1h1">Crafting Logos that Tell Your Brand’s Story</h1>
                    <p class="r1p">We know how to translate your brand’s story into a visual representation.
                        That resonates with your customers. We work closely with you to ensure that the final result accurately reflects your brand’s personality and  values.
                        Trust us to help you tell your brand’s story through the power of designing.
                        </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12"><img class="img-fluid r1img" src="/assets/images/rectangel 5.png" alt=""></div>
            </div>
            <div class="row s2row s2col">
                <div class="col-lg-6 col-md-6 col-sm-12"><img class="img-fluid r2img" src="/assets/images/Rectangle 212 (3).png" alt=""></div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="r2h1">Why Invest in a Custom Logo Design for your Startup ?</h1>
                    <p class="r2p"> A custom logo design adds professionalism and credibility to your startup, making it appear more trustworthy.</p>
                    <p class="r2p">A well-designed logo establishes a clear and memorable brand identity,
                        Representing your brand’s values and mission
                        </p>
                        <p class="r2p">A unique and memorable logo design can help your brand stay 
                            Top-of-mind and easily recognizable among your target audience.
                            </p>
                            <p class="r2p">Investing in a custom logo is crucial for a strong brand identity, competitive edge and 
                                Increased brand value. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section3 container-fluid">
        <h1 class="s3h1">
            Professional logo design for any business
        </h1>
    </div>
    <app-three-cards></app-three-cards>
    <app-page-contactus></app-page-contactus>
    <app-footer></app-footer>