<div class="section1">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="section2">
        <div class="continer-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 con_col">
                    <p class="con_p">Tech Whizzes at your services – contact us for smart solutions.</p>
                    <h1 class="con_h1">Shapes Infinity</h1>
                    <h6 class="con_h6">“We take pride in our work and deliver excellence every time Try us”</h6>
                    <a class="con_a"href="mailto:sales@shapesinfinity.com">sales@shapesinfinity.com</a><br>
                    <a class="con_a"href="tel:+971 561608606">Dubai : +971 561608606</a><br>
                    <a class="con_a"href="tel:+971 561608606">India : +91 8220880876</a>
                  </div>
          <div class="col-lg-6 col-md-6 col-sm-12 con_col2">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Mobile">
              </div>
              <div class="form-group">
                <select class="form-control" placeholder="Service">
                  <option value="">Select a service</option>
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option4">Option 4</option>
                  <option value="option5">Option 5</option>
                  <option value="option6">Option 6</option>
                </select>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="4" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="btn btn-warning con_btn">Submit</button>
            </form>
    
 </div>
            </div>
        </div>
      </div>
</div>