 /* section 1 styles */
 .section1 {
    background-image: url('/assets/images/final\ 2.png');
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 650px;
    background-size: cover;
  }
  
  .heading {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .s1h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    color: white;
    text-align: center;
    margin-top: 180px;
  }
  
  .s1p {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-align: center;
    color: white;
  }
  
  .navbar-brand {
    position: relative;
    left: 70px;
    animation: slide-in-left 0.5s ease-in-out;
    margin-top: 20px;
  }
  
  #navbarNav {
    margin-right: 42px;
    font-size: 20px;
  }
  
  .nav-link {
    color: white;
  }
  /* section 1 styles ends  */
  
  /* Mobile styles for section one  */
  @media only screen and (max-width: 767px) {
    .section1 {
      height: 350px;
    }
    
    .s1h2 {
      font-size: 32px;
      margin-top: 150px;
    }
    
    .s1p {
      font-size: 16px;
    }
    
    .navbar-brand {
      left: 0;
    }
    
    #navbarNav {
      margin-right: 0;
    }
  }
  /* mobile screen for section 1 ends */

/* style 1 animations */
  .section1 {
    background-image: url('/assets/images/final\ 2.png');
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 650px;
    background-size: cover;
    animation: zoomIn 1s ease;
  }
  
  @keyframes zoomIn {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  .s1p {
    font-size: 28px;
    text-align: center;
    color: white;
    animation: rotateIn 0.5s ease;
  }
  
  @keyframes rotateIn {
    0% { transform: rotate(-180deg); opacity: 0; }
    100% { transform: rotate(0); opacity: 1; }
  }
  
/* style 1 animations ends */

/* section 2 styles */
.s2row{
    margin-top: 50px;
}
.s2container{
    width: 1488px;
    height: 599px;
}
.s2h3{
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #1172e4;
    word-spacing: 5px;
    margin-bottom: 12px;
    margin-left: 30px;
}

.s2p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    word-spacing: 5px;
    line-height: 40px;
    margin-left: 30px;
}
   
.s2img{
    width: 602px;
    height: 550px;
    border-radius: 30px;
    margin-left: 50px;
}

/* Styles for screens with a width of 768px or less */
@media only screen and (max-width: 768px) {
    .s2container {
      width: 100%;
      height: auto;
    }
  
    .s2h3 {
      font-size: 36px;
      margin-left: 0;
      text-align: center;
    }
  
    .s2p {
      font-size: 18px;
      margin-left: 0;
    }
  
    .s2img {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
  }
  
/* section 2 styles ends */

/* section 3 */
/* .s3contianer{
width: 1488px;
height: 599px;
background-color:  #d81717;
border-radius: 30px;
}
.s3img{
width:599px;
height:599px;

}
.s3h3{
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color:#ffffff;
    margin-top: 65px;
}
.s3p{
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    font-size: 28px;
    font-weight: 500;
    margin-top: 25px;
    
    
}
.s3img{
    margin-left: -12px;

} */
/* section 3 ends */

/* testing */
  