<div class="section1">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" href="/web-maintenance">Web Maintenance</a>
                <a class="dropdown-item" href="/web-application">Web Application</a>
                <a class="dropdown-item" href="/logo-design">Logo Design</a>
                <a class="dropdown-item" href="/seo-content">SEO Content</a>
                <a class="dropdown-item" href="/ui-ux">UI/UX</a>
                <a class="dropdown-item" href="/web-development">Web Development</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <h2 class="s1h2">Our Story Begins</h2>
            <p class="s1p">"We shape design, design shapes us"</p>
        </div>
      </div>
    </div>

    <div class="container-fluid s2container">
        <div class="row s2row">
            <div class="col-lg-6">
                <h3 class="s2h3">Our Commitment to Quality and Customer Satisfaction</h3>
                <p class="s2p">At Shapes Infinity, We’re committed to providing high-quality web design and development
                    Solutions that exceed our clients’expectional customer service and creating digital experiences that
                    drive results.
                    We build long-lasting relationships with our clients through transparent communication
                    and a focus on trust.
                    </p>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid s2img" src="/assets/images/Rectangle 200 (4).png" alt="">
            </div>
        </div>
    </div>
    <!-- section 3 -->
    <div class="container-fluid s3contianer">
        <div class="row s3row">
            <div class="col-lg-5">
         <img class="img-fluid s3img" src="/assets/images/Rectangle 212 (4).png" alt="">
            </div>
            <div class="col-lg-7 s3col">
                <h3 class="s3h3">Meet Our Team: The Creative Minds Behind Shapes Infinity</h3>
                <p class="s3p">Shapes Infinity is a team of creative minds that is responsible for designing innovative and eye-catching projects. Their team consists of skilled professionals who are dedicated to delivering exceptional results.<br>
                    With years of experience and a passion for creativity, Shapes Infinity’s team is committed to providing top-notch design services.
                    </p>
            </div>
        </div>
    </div>
    <br>
    <!-- section 3 ends -->
    <!-- section 4 -->
   
    <!-- section 4 ends -->
<!-- section 5 -->
<app-three-cards></app-three-cards>
<app-page-contactus></app-page-contactus>
<app-footer></app-footer>
<!-- section 5 ends -->
    