<div class="container-fluid page-contactus">
    <div class="row">
    <div class="col-lg-5 col-sm-12">
        <h1 class="pch1">
            Let's Create Experiences...
        </h1>
        <div class="group">
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Mobile">
        <select name="Service" id="services">
            <option value="Website-development">Website Developement</option>
            <option value="UI/UX">UI/UX</option>
            <option value="Logo-design">Logo Design</option>
            <option value="SEO Content">SEO Content</option>
            <option value="Website Maintance">Website Maintaince</option>
            <option value="Web Application">Web Application</option>
          </select>
        </div>
        <button type="submit" class="btn btn-light">Submit</button>
    </div>
    </div>
    </div>