
/* Global styles that apply to all viewport sizes */

/* Styles for viewport sizes smaller than 768px (e.g., mobile phones) */
@media (max-width: 767px) {
    .page-contactus{
        background-image: url('/assets/images/Rectangle\ 208.png');
        width: 100%;
        height: auto;
        margin: auto;
        background-size:auto;
        background-repeat: no-repeat;
        margin-left: 0%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        
    }
    .pch1{
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        color:white;
        margin: 5% 0;
    


    
    }
    .group{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
       
    }
    input{
        padding: 8px 8px;
        border-radius: 10px;
        
        margin: 2% 0;
        
    }
    select{
        margin: 2% 0;
        padding: 8px 8px;
        border-radius: 10px;
    }
    .btn{
   width: 100%;
   height: auto;
   margin: auto;
   margin: 5% 0;

    
    }
}

/* Styles for viewport sizes between 768px and 1024px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .page-contactus{
        background-image: url('/assets/images/Rectangle\ 208.png');
        width: 100%;
        height: auto;
        margin: auto;
        background-size:auto;
        background-repeat: no-repeat;
        margin-left: 0%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        
    }
    .pch1{
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        font-weight: bold;
        color:white;
        margin: 5% 0;
    


    
    }
    .group{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
       
    }
    input{
        padding: 8px 8px;
        border-radius: 10px;
        
        margin: 2% 0;
        
    }
    select{
        margin: 2% 0;
        padding: 8px 8px;
        border-radius: 10px;
    }
.btn{
   width: 100%;
   height: auto;
   margin: auto;
   margin: 5% 0;

    }
}

/* Styles for viewport sizes larger than 1024px (e.g., laptops and desktops) */
@media (min-width: 1025px) {
    .page-contactus{
        background-image: url('/assets/images/Rectangle\ 208.png');
        width: 1518.5px;
        height: auto;
    }
    .pch1{
        font-family: 'Poppins', sans-serif;
        font-size: 86px;
        font-weight: bold;
        color: white;   
        margin: 5% 0;
    }
    .group{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    input{
        padding: 15px 5px;
        border-radius: 10px;
        margin: 2% 0;
        width: 500px;
    }
    select{
        padding: 15px 5px;
        border-radius: 10px;
        margin: 2% 0;
        width: 500px;
    }
    .btn{
    padding: 10px 100px;
    margin: 5% 0;
    margin-left: 17%;
    
    }
}

