<style>
  *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section1 {
  background-image: url('/assets/images/final\ 5.png');
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  background-size: cover;
}

.heading {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.s1h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

  .navbar-brand {
      position: relative;
      left: 70px;
      animation: slide-in-left 0.5s ease-in-out;
      margin-top: 1.1%;
  }

#navbarNav {
  margin-right: 42px;
  font-size: 20px;
}

.nav-link {
  color: white;
}
@media (max-width: 767px) {
    #navbarNav {
      margin-right: 5%;
      font-size: 1rem;
    }
    .navbar-brand {
    
      animation: slide-in-left 0.5s ease-in-out;
      margin-top: 1.1%;
      margin-left: -16%;
  }
  .s1h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 2.5rem;
      color: white;
      text-align: center;
      margin-top: 6%;
  
    }
  
  }
  
  /* Styles for viewport sizes between 768px and 1024px (e.g., tablets) */
  @media (min-width: 768px) and (max-width: 1024px) {
  
      #navbarNav {
        margin-right: 5%;
        font-size: 1rem;
      }
      .navbar-brand {
      
        animation: slide-in-left 0.5s ease-in-out;
        margin-top: 1.1%;
    }
    .s1h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        color: white;
        text-align: center;
        margin-top: 2%;
        margin-left: auto;
       /* margin-left: 8%;   */
      }
    
    }
    
  
  
  /* Styles for viewport sizes larger than 1024px (e.g., laptops and desktops) */
  @media (min-width: 1025px) {
   
    #navbarNav {
      margin-right: 5%;
      font-size: 1rem;
    }
    .navbar-brand {
    
      animation: slide-in-left 0.5s ease-in-out;
      margin-top: 0;
  }
  .s1h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 3.5rem;
      color: white;
      text-align: center;
      margin-top: 5%;
      margin-left: auto;
     /* margin-left: 8%;   */
    }
  
   
  }


</style>
<div class="section1">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" routerLink="/web-maintenance">Web Maintenance</a>
                <a class="dropdown-item" routerLink="/web-application">Web Application</a>
                <a class="dropdown-item" routerLink="/logo-design">Logo Design</a>
                <a class="dropdown-item" routerLink="/seo-content">SEO Content</a>
                <a class="dropdown-item" routerLink="/ui-ux">UI/UX</a>
                <a class="dropdown-item" routerLink="/web-development">Web Development</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contactus">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <h2 class="s1h2 col-lg-12 col-md-8 col-sm-12">UI/UX Design</h2>
           
        </div>
      </div>
    </div>

    <div class="section2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 s2col">
            <h2 class="s2_r1_h2">“Designing for Delight: Crafting Seamless User Journeys”</h2>
            <p class="s2_r1_p col-md-12" id="s2p">The approach of creating digital experiences that are not only functional and user-friendly but also delightful and enjoyable to use. Our UI/UX designs aim to understand users and create emotional responses.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 s2_r1_img">
            <img class="img-fluid" src="/assets/images/Rectangle ..png" alt="">
          </div>
        </div>
        <div class="row cols2r2">
          <div class="col-lg-6 col-md-6 col-sm-12 s2_r2_img">
            <img class="img-fluid" src="/assets/images/Rectangle 2.png" alt="">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="s2_r2_h2">“Why UI/UX Design is Crucial for Meeting User Expectations”</h2>
            <p class="s2_r2_p">Emphasizes the importance of good UI/UX design in creating digital experiences that meet the expectations of users.</p>
            <p class="s2_r2_p_1">A well-designed interface can improve user engagement and satisfaction, leading to increased customer loyalty and higher conversation rates.</p>
            <p class="s2_r2_p">Effective UI/UX design involves gathering feedback from the users and continuously improving the product based on the feedback, leading to increased user engagement, satisfaction, and loyalty.</p>
          </div>
        </div>
      </div>
    </div>
    
<div class="section3">
  <div class="container-fluid s4container">
    <div class="row">
      <div class="col-lg-4 s4col">
        <!-- card 1 section 4 -->
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/quality-control.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Industry Leading Services</h5>
            <p class="card-text s4p">Content is well-researched, informative, engaging, and optimized for search engines.</p>
          </div>
        </div>
      </div>
        <!-- card 1 section 4 ends -->
        <!-- card 2 section 4 -->
        <div class="col-lg-4 s4col">
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/quality-control.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Wallet-Friendly</h5>
            <p class="card-text s4p">Affordable solutions with no compromise on quality or value - our promise.</p>
          </div>
        </div>
        </div>
        <!-- card 2 section 4 ends -->
        <!-- card 3 section 4 -->
        <div class="col-lg-4 s4col">
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/quality-control.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Support 24/7</h5>
            <p class="card-text s4p">This commitment to 24/7 support ensures that clients have peace of mind.</p>
          </div>
        </div>
        </div>
        <!-- card 3 section 4 ends -->
    </div>
  </div>
  <!-- section 4 ends -->
<!-- section 5 -->

<app-page-contactus></app-page-contactus>
<app-footer></app-footer>
<!-- section 5 ends -->
</div>
