<div class="section1">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" href="/web-maintenance">Web Maintenance</a>
                <a class="dropdown-item" href="/web-application">Web Application</a>
                <a class="dropdown-item" href="/logo-design">Logo Design</a>
                <a class="dropdown-item" href="/seo-content">SEO Content</a>
                <a class="dropdown-item" href="/ui-ux">UI/UX</a>
                <a class="dropdown-item" href="/web-development">Web Development</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <h2 class="s1h2 col-lg-12 col-md-8 col-sm-12">UI/UX Design</h2>
           
        </div>
      </div>
    </div>

    <div class="section2">
      <div class="continer-fluid">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-6 s2col">
            <h2 class="s2_r1_h2">“Designing for Delight: Crafting Seamless User Journeys”</h2>
            <p class="s2_r1_p col-md-12" id="s2p">The approach of creating digital experiences that are
              Not only functional and user-friendly, but also delightful.
              And enjoyable to use.
              Our UI/UX designs aim to understand users and create
              Emotional responses.
              </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 s2_r1_img ">
            <img class="img-fluid"src="/assets/images/Rectangle ..png"alt="">
          </div>
        </div>
        <div class="row cols2r2">
          <div class="col-lg-6 col-mg-6 col-sm-12 s2_r2_img"><img class="img-fluid" src="/assets/images/Rectangle 2.png" alt=""></div>
          <div class="col-lg-6 col-sm-12 ">
            <h2 class="s2_r2_h2">“Why UI/UX” Design is Crucial for Meeting User Expectations”</h2>
          <p class="s2_r2_p">
            Emphasizes the importance of good UI/UX design in creating 
digital experiences that meet the expectations of users.</p>
<p class="s2_r2_p_1">A well-designed interface can improve user engagement and 
Satisfaction, leading to increased customer loyalty and higher conversation
rates.</p>
<p class="s2_r2_p">Effective UI/UX design involves gathering feedback from the 
Users and continuously improving the product based on the 
Feedback.
Overall, leading to increased user engagement, satisfaction, and
Loyalty.</p>

        
          </div>
        </div>
      </div>
    </div>
<div class="section3">
  <div class="container-fluid s4container">
    <div class="row">
      <div class="col-lg-4 s4col">
        <!-- card 1 section 4 -->
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/quality-control.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Industry Leading Services</h5>
            <p class="card-text s4p">Content is well-researched, informative, engaging, and optimized for search engines.</p>
          </div>
        </div>
      </div>
        <!-- card 1 section 4 ends -->
        <!-- card 2 section 4 -->
        <div class="col-lg-4 s4col">
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/quality-control.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Wallet-Friendly</h5>
            <p class="card-text s4p">Affordable solutions with no compromise on quality or value - our promise.</p>
          </div>
        </div>
        </div>
        <!-- card 2 section 4 ends -->
        <!-- card 3 section 4 -->
        <div class="col-lg-4 s4col">
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/quality-control.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Support 24/7</h5>
            <p class="card-text s4p">This commitment to 24/7 support ensures that clients have peace of mind.</p>
          </div>
        </div>
        </div>
        <!-- card 3 section 4 ends -->
    </div>
  </div>
  <!-- section 4 ends -->
<!-- section 5 -->

<app-page-contactus></app-page-contactus>
<app-footer></app-footer>
<!-- section 5 ends -->
</div>
