<div class="section1">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" href="/web-maintenance">Web Maintenance</a>
                <a class="dropdown-item" href="/web-application">Web Application</a>
                <a class="dropdown-item" href="/logo-design">Logo Design</a>
                <a class="dropdown-item" href="/seo-content">SEO Content</a>
                <a class="dropdown-item" href="/ui-ux">UI/UX</a>
                <a class="dropdown-item" href="/web-development">Web Development</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <h2 class="s1h2">Expertly Crafted Websites that Captivate Your Audience</h2>
            <p class="s1p">"Engage and delight your webiste visitors with our expertly crafted web design that captures the essence of your brand"</p>
        </div>
      </div>
    </div>
    <!-- section 2 -->
    <div class="container-fluid s2container">
        <div class="row">
            <div class="col-lg-6 s2col">
                <img class="img-fluid s2img" src="/assets/images/Rectangle 200.png" alt="">
            </div>
            <div class="col-lg-6">
                <h3 class="s2h3">E-Commerce<br> Website Design</h3>
                <p class="s2p">At Shapes Infinity, we create stunning<br> E-commerce websites that are optimized for search engines and designers and developers will work closely with you to understand your unique business needs and create an E-commerce webiste that reflects your brand's personality and values.Take your online business to new heights with our expertise and let us help you create an E-commerce website that stands out in the competitive digital landscape.</p>
            </div>
        </div>
    </div>
    <!-- section 2 ends -->
    <!-- section 3 -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 s3coltext">
                <h3 class="s3h3">Search Engine Optimization</h3>
                <p class="s3p">In today’s digital age, SEO is more important than ever. In Shapes Infinity, we’re
                    Passionate about helping businesses like yours improve their online presence and achieve
                    Their marketing goals through effective SEO Strategies
                    Whether you’re looking to increase your website’s visibility, drive more
                    Traffic to your site, or generate more leads and sales, our team of<br>
                    SEO experts can help you get there.
                    </p>
            </div>
            <div class="col-lg-6 s3col">
                <img class="img-fluid s3img" src="/assets/images/Rectangle 201.png" alt="">
            </div>
           
        </div>
    </div>
    <!-- section 3 ends -->
    <!-- section 4 -->
    <div class="container-fluid s4container">
        <div class="row">
            <div class="col-lg-6 s4colimg">
                <img class="img-fluid s4img" src="/assets/images/Rectangle 202.png" alt="">
            </div>
            <div class="col-lg-6 s4col">
                <h3 class="s4h3">Mobile-Responsive <br> Web design</h3>
                <p class="s4p">Mobile-responsive web design is no longer an option, it’s a necessity.  At Shapes Infinity
                    We understand the importance of having a website that is fully optimized for
                    Mobile devices. As users can easily access and share content on their mobile devices.
                   <br> We can help you attract more visitors, generate more leads, and improve your
                    Online visibility
                    </p>
            </div>
        </div>
    </div>
    <!-- section 4 ends -->
    <!-- section 5 -->
    <div class="container-fluid s5container">
        <div class="row">
            <div class="col-lg-6 s5col">
                <h3 class="s5h3">Website Security <br>and maintenance</h3>
                <p class="s5p">As website technologies continue to evolve, website security and maintenance
                    It has become more complex and challenging than ever. In shapes Infinity,
                    We stay on top of the latest trends and best practices in website security.
                    And maintain to ensure that our clients receive the best possible services.
                    With our services, you can focus on your business while we take care of
                    The technical details.
                     </p>
            </div>
            <div class="col-lg-6 s5imgcol">
                <img class="img-fluid s5img" src="/assets/images/Rectangle 203.png" alt="">
            </div>
           
        </div>
    </div>
    <app-page-contactus></app-page-contactus>
    <app-footer></app-footer>
    <!-- section 5 ends -->

