<div class="section1">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
            <h2 class="s1h2 col-lg-12 col-md-8 col-sm-12">Enterprise-level Web Application Development</h2>
            <p class="s1p col-lg-12 col-md-8 col-sm-12">"Maintaining high level of performance Scalability And security.
              "</p>
           
        </div>
      </div>
    </div>
     <div class="section2">
      <div class="continer-fluid">
        <div class="row s1row">
          <div class="col-lg-7 col-sm-12 col-md-5">
            <h2 class="s2_r1_h2">Creating custom solutions for complex business processes</h2>
            <p class="s2_r1_p col-md-12" id="s2p">A custom solution for complex business processes eliminates
              Manual processes streamline workflows, improve efficiency,
              Reduce costs and free up employees for higher-value tasks.
              They also provide data-driven insights and identify areas for further
              Improvement.
              </p>
             </div>
          <div class="col-lg-5 col-md-5 col-sm-12 s2_r1_img ">
            <img class="img-fluid" src="/assets/images/Rectangle 200 (1).png" alt="">
          </div>
        </div>
      
        <div class="row cols2r2">
          <div class="col-lg-5 col-md-5 col-sm-12 s2_r2_img"><img class="img-fluid" src="/assets/images/Rectangle 212.png" alt=""></div>
          <div class="col-lg-7 col-sm-12 ">
            <h2 class="s2_r2_h2">“Implementing Agile Development Processes for Faster
Time-to-Market
”</h2>
          <p class="s2_r2_p">
            Agile development methodology is iterative and allows
            Team to refine software based on feedback. Regular
            Sprints ensure the final product meets stakeholder needs.
            Collaboration promotes transparency, accountability, and
            Shared goal.
            
</p>
</div>
        </div>
      </div>
    </div>
   
<app-three-cards></app-three-cards>
  <!-- section 4 ends -->
<!-- section 5 -->

<!-- <app-enquiry></app-enquiry> -->
<!-- section 5 ends -->

