
/* row 2 style ends */
/* responsive code */
/* Global styles that apply to all viewport sizes */

/* Styles for viewport sizes smaller than 768px (e.g., mobile phones) */

/* Styles for viewport sizes between 768px and 1024px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
.section1 {
  background-image: url('/assets/images/final\ 2.png');
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-size: cover;
}

.heading {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.s1h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  margin-top: 0%;
  margin-left: 17%;
}

  .navbar-brand {
      position: relative;
      left: 10px;
      margin-top: 10%;
      animation: slide-in-left 0.5s ease-in-out;
      margin-top: 1.1%;
  }

#navbarNav {
  margin-right: 42px;
  font-size: 20px;
}

.nav-link {
  color: white;
}
.s1p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  color: white;
  
}
/* row 1 */
/* section 2 row 1 col 1 */
.s1row{
  margin-top: 5%;
  margin-left: 0%;
}
.s2_r1_h2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #d81717;
  margin-left:1%;
}
.s2_r1_p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 4%;
  margin-left: 1%;
}
.s2_r1_img{
  height: auto;
  width: 50%;
  margin-top: 8.5%;
  margin-left: 3.5%;
}
.s1p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin: 5% 16%;
  /* margin-left: 1% */
}

/* row two */
.cols2r2{
  margin-top: 5%;
}
.s2_r2_img{
  height: auto;
  width: 100%;
  margin-top: 2.5%;
  margin-left: 7.5%;
}
.s2_r2_h2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 3%;
}
.s2_r2_p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 1%;
  margin-top: 5%;
  margin-right: 3%;
  text-align: justify;
}

/*  */
}

/* Styles for viewport sizes larger than 1024px (e.g., laptops and desktops) */
@media (min-width: 1025px) {

.section1 {
background-image: url('/assets/images/final\ 2.png');
background-repeat: no-repeat;
overflow: hidden;
width: 100%;
height: 640px;
background-size: cover;
}

.heading {
font-family: 'Poppins', sans-serif;
text-align: center;
}

.s1h2 {
font-family: 'Poppins', sans-serif;
font-size: 2.5rem;
color: white;
text-align: center;
margin-top: 14%;
}

.navbar-brand {
    position: relative;
    left: 70px;
    animation: slide-in-left 0.5s ease-in-out;
    margin-top: 1.1%;
}

#navbarNav {
margin-right: 42px;
font-size: 20px;
}

.nav-link {
color: white;
}
.s1row{
margin-top: 5%;
margin-left: 3%;
}
.s2_r1_h2{
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 56px;
color: #d81717;
margin:4% 0;
}
.s2_r1_p{
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 28px;
margin-top: 4%;
}
.s2_r1_img{
height: 550px;
width: 602px;
margin-top: 2.5%;
}

/* row 2 style */
.cols2r2{
margin-top: 5%;
margin-left: 3%;
}
.s2_r2_img{
height: 550px;
width: 602px;
/* margin-top: 2.5%; */
}
.s2_r2_h2{
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 56px;
margin-left: 3%;
margin-top: 3%;
}
.s2_r2_p{
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 28px;
margin-left: 3%;
margin-top: 5%;
}

.s1p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: white;
  text-align: left;
  margin: 5% 0;
  margin-left: 22%
}

}

/* responsive code ends */