<div class="container-fluid s4container">
    <div class="row">
      <div class="col-lg-4 s4col">
        <!-- card 1 section 4 -->
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/quality shapes infinity.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Industry Leading Services</h5>
            <p class="card-text s4p">Content is well-researched, informative, engaging, and optimized for search engines.</p>
          </div>
        </div>
      </div>
        <!-- card 1 section 4 ends -->
        <!-- card 2 section 4 -->
        <div class="col-lg-4 s4col">
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/budget friendly shapes infinity.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Wallet-Friendly</h5>
            <p class="card-text s4p">Affordable solutions with no compromise on quality or value - our promise.</p>
          </div>
        </div>
        </div>
        <!-- card 2 section 4 ends -->
        <!-- card 3 section 4 -->
        <div class="col-lg-4 s4col">
        <div class="card s4card">
          <img class="card-img-top img-fluid s4img" src="/assets/images/support shapes infinity.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title s4h5">Support 24/7</h5>
            <p class="card-text s4p">This commitment to 24/7 support ensures that clients have peace of mind.</p>
          </div>
        </div>
        </div>
        <!-- card 3 section 4 ends -->
    </div>