
@media (max-width: 767px) {
 
  

  .card-img-top{
    width: 150px;
    padding: 8px;
  }
  .card-title{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    color:#ff6b00;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight:600;
  
  }
  .card-body{
    margin: 0;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
    height: auto;
  }
  .readMore{
    padding-left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
  .card {
    width: 100%;
    height: auto;
    margin-left: 5%;
    border-radius: 15px;
    margin-top: 2%;
  
  }
  
  
    
    
    
    
  /* card */
  
  
  
  
  /* testing end */
  
    /* section 4 */
    
  
  .s5h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20%;
    font-size: 2.5rem;
    font-weight: bold;
  
  }
  .s5bg{
    width:100%;;
    height: auto;
  background-image: url('/assets/images/25.png');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .s5h3{
   font-size: 2.5rem; 
   font-weight: 700;
   color: #1172e4;
   text-align: left;
   margin: 12%;
  
  }
}

/* Styles for viewport sizes between 768px and 1024px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
 
 
   
    .card-img-top{
      width: 150px;
      padding: 8px;
    }
    .card-title{
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 7px;
      color:#ff6b00;
      font-family: 'Poppins', sans-serif;
      font-size: 0.8rem;
      font-weight:600;
    
    }
    .card-body{
      margin: 0;
      padding: 8px;
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      width: 100%;
      height: auto;
    }
    .readMore{
      padding-left: 0;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
    }
    .card {
      width: 90%;
      height: auto;
      margin-left: 5%;
      border-radius: 15px;
      margin-top: 2%;
    
    }
    
    
      
      
      
      
    /* card */
    
    
    
    
    /* testing end */
    
    .s5h2{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      margin-top: 20%;
      font-size: 2.5rem;
      font-weight: bold;
    
    }
    .s5bg{
      width:100%;;
      height: auto;
    background-image: url('/assets/images/25.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    }
   
    .s5h3{
     font-size: 2.5rem; 
     font-weight: 700;
     color: #1172e4;
     text-align: left;
     margin: 12%;
    
    }
}

/* Styles for viewport sizes larger than 1024px (e.g., laptops and desktops) */
@media (min-width: 1025px) {
 
  
  .cardContainer{
  width: 500px;
  height: 500px;
  }
  .card-img-top{
    width: 150px;
    padding: 8px;
  }
  .card-title{
    width: 320px;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    color:#ff6b00;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight:600;
  
  }
  .card-body{
    margin-top: 18px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  .readMore{
    padding-left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
  .card {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    margin-left: 20%;
    padding: 2px;
  
  }
  .card-text{
    font-size: 1.2rem;
  }
  
.cardContainer{
  margin-bottom: 2%;
}
  
    
    .whyh2{
      font-family: 'Poppins', sans-serif;
      text-align: center;
      font-size: 56px;
      font-weight: bold;
      padding: 30px 0px;
    }
    .whyh3{
      font-family: 'Poppins', sans-serif;
      font-size: 48px;
      font-weight: bold;
      margin-left: 50px;
      padding: 20px 0;
    }
    .sicol{
      width: 350px;
      height: auto;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .whySIbody{
      width: 450px;
      height: auto;
      /* background-color:#95A8B0; */
    }
     .whySIcontainer{
      font-family: 'Poppins', sans-serif;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      } 
      .whySIcard{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10% 5%;
        border-radius: 10%;
        width: 450px;
         height: 305px;
         /* background-color: aliceblue; */
      }
     .even{ 
      margin-top: -32px;
      /* background-color: red; */
    }
    .row2{
      margin-top: 5%;
    } 
 
    .whySIimg{
    width: 80;
    height: 80;
    margin-top: -8px;
    }
    .whySIbody p{
      text-align: center;
      font-size: 1.2rem;
      line-height: 10px;
      padding-top: 5px;
      margin-top: 5%;
      height: auto;
    }
    .card-text{
      margin: 2%;
      height: auto;
      padding: 2%;
      color: black;
    }
    .whySItext{
      font-weight: 600;
      color: #e66c0f;
      font-size: 2rem;
    }

  
  /* testing */
  /* animation for desktop view */
  .whySItext {
    font-weight: 600;
    color: #e66c0f;
    transform: scale(1);
    animation: pulse 1s ease-in-out infinite alternate;
  }
  
  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  
  
  .s5h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    font-size: 56px;
    font-weight: bold;
  
  }
  .s5bg{
    width:1109px; 
    height: 400px;
  background-image: url('/assets/images/25.png');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .s5h3{
   font-size: 48px; 
   font-weight: 700;
   margin-left: 60px;
   color: #1172e4;
   margin: 50px;

  }
}