<div class="navhead">
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="assets/images/shapes infinity logo b.png" width="200" height="70" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
        <div class="col col-lg-6 col-sm-12 mt-1">
            <h1 class="navHeading">"Achieve Digital Success as a Leading company with customized web solutions"</h1>
        <p class="navPara">Shapes Infinity is your trusted partner for digital transformation in your industry.</p>
    <button id="requestbtn" class="btn btn-warning">Request a Quote</button>    
    </div>
    <div class="col col-lg-6 col-sm-12">
        <img class="img-fluid" id="homeimg" src="assets/images/Vector.png" alt="">
        <div class="icon-container">
            <a href="#">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </div>
    </div>
    </div>
  </div>
  
</div>
<!-- section 2 -->
<div class="container-fluid">
  <div class="row">
<div class="col" id="section2head">
  <h2>Get to Know <span id="usbetter">Us Better</span></h2>
</div>
  </div>
  <div class="row">
<div class="col col-lg-6" id="section2con">
<h3>From Humble Beginnings to Creative heights</h3>
<p>We believe that trust is the foundation of any successful partnership, and that’s why it’s a core
  value at Shapes Infinity. From the first conversation to the final delivery, we prioritize transparency
  and honesty in everything we do. Our team is dedicated to earning and keeping your trust, as you can focus on growing your business
  </p>
  <button class="btn btn-warning">Read more</button>
</div>
<div class="col col-lg-6">
<img id="section2img" class="img-fluid" src="/assets/images/Rectangle 225.png" alt="">
</div>
  </div>
</div>
<!-- section 2 end -->

<!-- section 3  -->

<div class="container-fluid">
  <div class="row"><h2 class="offeringList">Offerings <span style="color:red">list</span></h2></div>
  <div class="row"><h3 class="arrayService">Our Array of Services <span style="color: orange;">_</span></h3></div>
  <!-- 1-3 cards -->
  <div class="maincarddiv">
  <div class="row">
    <div class="col col-lg-3 col-sm-12 cardContainer">
      <div class="card boxshawdow">
        <img class="card-img-top img-fluid" src="/assets/images/4806453.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Website Designing & Development</h5>
          <p class="card-text">Get more customers with an SEO-optimized user-friendly visually coptivating website.</p>
          <a href="#" class="btn readMore">Read More ></a>
        </div>
      </div>
    </div>
        <div class="col col-lg-3 col-sm-12 cardContainer">
          <div class="card boxshawdow">
            <img class="card-img-top img-fluid" src="/assets/images/4806453.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Website Designing & Development</h5>
              <p class="card-text">Get more customers with an SEO-optimized user-friendly visually coptivating website.</p>
              <a href="#" class="btn readMore">Read More ></a>
            </div>
          </div>
    </div>
        <div class="col col-lg-3 col-sm-12 cardContainer">
          <div class="card boxshawdow">
            <img class="card-img-top img-fluid" src="/assets/images/4806453.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Website Designing & Development</h5>
              <p class="card-text">Get more customers with an SEO-optimized user-friendly visually coptivating website.</p>
              <a href="#" class="btn readMore">Read More ></a>
            </div>
    </div>
 
  </div>
       
  
</div>
<!-- 1-3 cards ends -->

<!-- 4-6 cards -->
<div class="row">
  <div class="col col-lg-3 col-sm-12 cardContainer">
    <div class="card boxshawdow">
      <img class="card-img-top img-fluid" src="/assets/images/4806453.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Website Designing & Development</h5>
        <p class="card-text">Get more customers with an SEO-optimized user-friendly visually coptivating website.</p>
        <a href="#" class="btn readMore">Read More ></a>
      </div>
    </div>
  </div>
      <div class="col col-lg-3 col-sm-12 cardContainer">
        <div class="card boxshawdow">
          <img class="card-img-top img-fluid" src="/assets/images/4806453.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Website Designing & Development</h5>
            <p class="card-text">Get more customers with an SEO-optimized user-friendly visually coptivating website.</p>
            <a href="#" class="btn readMore">Read More ></a>
          </div>
        </div>
  </div>
      <div class="col col-lg-3 col-sm-12 cardContainer">
        <div class="card boxshawdow">
          <img class="card-img-top img-fluid" src="/assets/images/4806453.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Website Designing & Development</h5>
            <p class="card-text">Get more customers with an SEO-optimized user-friendly visually coptivating website.</p>
            <a href="#" class="btn readMore">Read More ></a>
          </div>
  </div>

</div>
     

</div>
</div>
<!-- 4-6 cards ends -->
<!-- section 4 -->
<div class="container-fluid">
  <div class="row">
    <h2 class="whyh2">Why <span style=" color: #d81717;">Shapes Infinity</span></h2>
  </div>
  <div class="row">
    <h3 class="whyh3">We Furnish</h3>
  </div>
  <div class="whySIcontainer container-fluid">
  <div class="row row2">
    <div class="col-lg-2 sicol">
      <!-- card row 1 -->
      <div class="card whySIcard">
        <img class="card-img-top img-fluid whySIimg" src="/assets/images/clientSatisfaction.jpg" alt="Card image cap">
        <div class="card-body whySIbody">
          <p class="card-text">Crafted</p>
          <p class="card-text whySItext">Design</p>
        </div>
      </div>
      </div>
      <!--  -->
      <div class="col-lg-2 sicol even">
      <div class="card whySIcard">
        <img class="card-img-top img-fluid whySIimg" src="/assets/images/secureCoding.webp" alt="Card image cap">
        <div class="card-body whySIbody">
          <p class="card-text">Secure</p>
          <p class="card-text whySItext">Coding Techniques</p>
        </div>
      </div>
      </div>
      <!--  -->
      <div class="col-lg-2 sicol">
        <!-- card row 1 -->
        <div class="card whySIcard">
          <img class="card-img-top img-fluid whySIimg" src="/assets/images/seo-tag-5402872-4521485.webp" alt="Card image cap">
          <div class="card-body whySIbody">
            <p class="card-text">SEO</p>
            <p class="card-text whySItext">Friendly Content</p>
          </div>
        </div>
        </div>
<!--  -->
<div class="col-lg-3 sicol even">
  <div class="card whySIcard">
    <img class="card-img-top img-fluid whySIimg" src="/assets/images/responsive-design-5402848-4521461.webp" alt="Card image cap">
    <div class="card-body whySIbody">
      <p class="card-text">Responsive</p>
      <p class="card-text whySItext">Design</p>
    </div>
  </div>
  </div>
      <!-- card row 1 ends -->
      <!-- card row 2 -->
      <div class="row row2">
        <div class="col-lg-2 sicol">
          <!-- card row 1 -->
          <div class="card whySIcard">
            <img class="card-img-top img-fluid whySIimg" src="/assets/images/cost effective.webp" alt="Card image cap">
            <div class="card-body whySIbody">
              <p class="card-text">Cost</p>
              <p class="card-text whySItext">Effective</p>
            </div>
          </div>
          </div>
          <!--  -->
          <div class="col-lg-2 sicol even">
          <div class="card whySIcard">
            <img class="card-img-top img-fluid whySIimg" src="/assets/images/24x7.webp" alt="Card image cap">
            <div class="card-body whySIbody">
              <p class="card-text">24x7</p>
              <p class="card-text whySItext">Helpdesk</p>
            </div>
          </div>
          </div>
          <!--  -->
          <div class="col-lg-2 sicol">
            <!-- card row 1 -->
            <div class="card whySIcard">
              <img class="card-img-top img-fluid whySIimg" src="/assets/images/rightTimeDelivery.webp" alt="Card image cap">
              <div class="card-body whySIbody">
                <p class="card-text">On-Time</p>
                <p class="card-text whySItext">Delivery</p>
              </div>
            </div>
            </div>
    <!--  -->
    <div class="col-lg-3 sicol even">
      <div class="card whySIcard">
        <img class="card-img-top img-fluid whySIimg" src="/assets/images/clientSatisfaction.jpg" alt="Card image cap">
        <div class="card-body whySIbody">
          <p class="card-text">100%</p>
          <p class="card-text whySItext">Client Satisfaction</p>
        </div>
      </div>
      </div>
      <!-- card row 2 ends -->
    </div>
  </div>
</div>
<!-- section 4 ends -->
<!-- section 5 -->
<div class="container-fluid">
  <div class="row ">
<h2 class="s5h2">See What Our<span style="color: #d81717;"> Customers say About Us!</span></h2>
  </div>
  <div class="row">
<h3>Word of mouth referrals_</h3>
  </div>
  </div>
  <div class="container-fluid s5bg">
  <div class="row ">
<div class="col-lg-6">
<img class="img-fluid" src="/assets/images/v 2.png" alt="">
</div>
<div class="col-lg-6">
<p>"Mohammed, CEO of Al Jawa Express, recently shaed his testimonial about our work. He praised our neat and professional website, expressing his trust and satisfaction, we're proud to have earned his endorsement."</p>
<p>Mr. Mohammed CEO</p>
  </div>
  </div>
</div>
<!-- section 5 ends -->